/* pre confinguração do body*/

*{
    font-family: sans-serif;
    
}
section{
    margin-inline: 25%;
    display: flex;
    justify-content: center;

}
@media ((max-width: 600px)) {
    section{
   margin-inline: 0;
}
}

/* configuração do conteiner */
.conteiner{
    display: flex;
    margin-block: 90px;
    background-color: #ecf4e8;
    padding: 12;
    padding-bottom: 50px;
    border-radius: 12px;
    box-shadow: 1px 1px 1px #08350b;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 1000px;
    width: 500px;

}
.conteiner h2{
    border: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.form-box input,
.form-box textarea{
    text-decoration: none;
    border: none;
    background-color: #ffffff;
    width: 200px;
    height: 25px;
    text-align: center;
    box-shadow: 1px 1px 1px #c1f4bb;
    border: 2px solid #cecece;
    border-radius: 5px;
    outline: none;
    
}
/* animação de pulsar quando o input estiver em foco */
@keyframes focoanimacao{
    0%{

    }
    50%{
        box-shadow: 3px 3px 5px #c1f4bb;
        border-color:#d4ffcf ;
    }
    100%{
        box-shadow: 1px 1px 1px #c1f4bb;
        border-color:#cecece ;
    }
}
/* solicitação da animação */
.form-box input:focus
,.form-box textarea:focus{
animation: focoanimacao 3s ;
animation-iteration-count: infinite;

}

/* configuração do conteudo dentro do conteiner */

/* configuração da label das caixa de texto */
.conteiner label{
    display: grid;
    padding-top: 12px;
    justify-content: left;
}


#concluir{
    text-decoration: none;
    border: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-block: 17px;
    background-color: #0f7a04;
    width: 200px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    margin-top: 5%;
}
#concluir:hover{
    background-color:  #0e9a06;
    transition-duration: 0.5s;
}


#concluir:active{
    background-color: #14be11 ;
    transition-duration: 0.1s;
}

.Metododepagamento select,
.Projetoajudar select{
    
    text-decoration: none;
    border: none;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 1px 1px 1px #c1f4bb;
    border: 2px solid #cecece;
    border-radius: 5px;
    outline: none;
    width: 200px;
    height: 40px;
}




.form-box{

    display: grid ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;

}